In [1]:
import pandas as df
df = df.DataFrame([2,5,6,3,80,6,4,7])
mode = df.mode(axis= "rows", numeric_only=True)
print(mode)

   0
0  6

In [2]:
median = df.median(axis='rows', numeric_only=True)
print(median)

0    5.5
dtype: float64

In [3]:
mean = df.mean(axis = "rows")
print(mean)

0    14.125
dtype: float64

In [4]:
std = df.std(axis='rows', numeric_only=True)
print(std)

0    26.669605
dtype: float64

In [5]:
df.describe()

               0
count   8.000000
mean   14.125000
std    26.669605
min     2.000000
25%     3.750000
50%     5.500000
75%     6.250000
max    80.000000